/* General styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;  
    overflow: hidden;
    background-color: #ffffff;

  }
  
  /* Outer container */
  .outer-container {
    display: flex;
    border: 1px solid #E6E6FA;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    background-color: #b3c2ce;
  }
  
  /* Users list */
  .users-list {
    width: 25%;
    overflow-y: auto;
    max-height: 800px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
    
    
  }
  
  .users-list li {
    /* background-color: #E6E6FA; */
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    list-style-type: none;
    margin: 0;
    text-align: center;
    
  }
  .users-list button {
    background-color: #0c6178;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out
  }
  .users-list button:hover{
    transform: scale(1.1)

  }

  .link-primary {
    color: #fff;
    text-decoration: none;
  }
  
  .link-primary:hover {
    text-decoration: none;
  }
  
  .link-primary:visited {
    text-decoration: none;
  }

  /* Chat container */
  .chat-container {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  
  /* User name */
  .user-name {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;    
    margin: 0;
  }
  
  /* Messages list */
  .message-lists {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 400px;
    /* padding: 20px; */
    /* margin-bottom: 20px; */
    
  }
  
  .message {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .message.botson {
 
    flex-direction: row-reverse;
    width: 45%;
    /*justify-content: flex-end; /* Align to the right side of the screen */
    margin-left: auto; /* Add a margin to push it to the right */
    text-align: right;
  }

  .message.botson span {
    background-color: #4caf50;
    padding: 10px;
    border-radius: 5px;
  }
  
  .message.other {
    width: 45%;
  }

  .message.other span {
    background-color: #2196f3;
    padding: 10px;
    border-radius: 5px;
  }
  

  
  /* Send message form */
  .send-message-form {
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: white; */
  }
  
  .send-message-form ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    /* border: 1px solid #000; */
    /* border-radius: 5px; */
    /* padding: 0px; */
  }
  
  .send-message-form li {
    list-style-type: none;
  }

  .text-field {
    width:610px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-style:none
  }
  .submit-tag{
    margin:0;
    padding:0;
    width: 140px;
    height: 62px;
    background-color: #0c6178;
    color:#E6E6FA;
    font-weight: bold;
    font-size: larger;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: none;
    transition: all .2s ease-in-out
  }
  .submit-tag:hover{
    transform: scale(1.1);
  }

  .message-image {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
  /* .file-field {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  /* .file-field {
    margin:0;
    padding:0;
    width: 140px;
    height: 62px;
    background-color: #0c6178;
    font-weight: bold;
    font-size: larger;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: none;
    
  } */